<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">カテゴリ名</th>
      <th scope="col">タイトル</th>
      <th scope="col">本文</th>
      <th scope="col">ステータス</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tr *ngFor="let todo of todos">
    <th scope="row">{{ todo.id }}</th>
    <td>{{ todo.categoryName }}</td>
    <td>{{ todo.title }}</td>
    <td>{{ todo.body }}</td>
    <td>{{ todo.stateName }}</td>
    <td>
      <a
        class="icon-link"
        routerLink="/todo/edit/{{ todo.id }}"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-pencil-square"></i>
      </a>

      <button
        type="button"
        (click)="delete(todo.id)"
        class="btn btn-link"
        style="padding: 0"
      >
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
</table>
