<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">カテゴリ名</th>
      <th scope="col">タイトル</th>
      <th scope="col">本文</th>
      <th scope="col">ステータス</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tr *ngFor="let todo of todos">
    <th scope="row">{{ todo.id }}</th>
    <td>{{ todo.category.name }}</td>
    <td>{{ todo.title }}</td>
    <td>{{ todo.body }}</td>
    <td>{{ todo.state.name }}</td>
    <td>
      <a
        class="icon-link"
        routerLink="/todo/edit/{{ todo.id }}"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-pencil-square"></i>
      </a>
    </td>
  </tr>
</table>
